# Movie Recommendation System

Types of Recommendation Systems are :- 

    1- Content Based :- On the Basis of similarity of content 
    2- Collebrative Filtering :- On the Basis of user similarity
    3- Hybrid :- Content + Collebrative

In [1]:
# Importing Numpy and Pandas Libraries.

import numpy as np
import pandas as pd

In [2]:
# Importing data of movies 
movies = pd.read_csv('tmdb_5000_movies.csv')

In [3]:
#importing data of credit related to movies
credit = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
movies.shape

(4803, 20)

In [7]:
credit.shape

(4803, 4)

In [8]:
# Merging movies and credit
movies = movies.merge(credit,on='title')

In [9]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
# Name of the columns
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [11]:
# Columns to be selected for process ---- 

# genres
# id
# keywords
# overview
# title
# cast
# crew

In [12]:
# getting only necessary columns 
movie = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [13]:
movie.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [14]:
# Checking Null Values 
movie.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [15]:
# Dropping Null values 
movie.dropna(inplace=True)

C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\1434182048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie.dropna(inplace=True)

In [16]:
# After Dropping Null checking for Null values
movie.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [17]:
movie.duplicated(subset=None,keep="first")

0       False
1       False
2       False
3       False
4       False
        ...
4804    False
4805    False
4806    False
4807    False
4808    False
Length: 4806, dtype: bool

In [18]:
movie.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [19]:
# Importing ast library for coverting string list into list
import ast

In [20]:
# Making function for fetching name that we need from dictionaries
def convert(text):
    L = []
    text = ast.literal_eval(text)
    for i in text :
        L.append(i['name']) 
    return L

In [21]:
# appling funtion convert 
movie['genres'] = movie['genres'].apply(convert)

C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\887980082.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['genres'] = movie['genres'].apply(convert)

In [22]:
# checking genres column after applying function
movie['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [23]:
# appling function convert on keywords
movie['keywords'] = movie['keywords'].apply(convert)
movie['keywords']

C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\2169550236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['keywords'] = movie['keywords'].apply(convert)

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [24]:
# detail of first row of cast column 
movie['cast'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [25]:
# function for fecting top three cast from the dictionaries
def convert_cast(text):
    L = []
    count = 0
    text = ast.literal_eval(text)
    for i in text :
        if count != 3 :
            L.append(i['name']) 
            count = count + 1
        else :
            break
    return L

In [26]:
# appling funtion to fetched the top 3 cast
movie['cast'] = movie['cast'].apply(convert_cast)

C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\2472663055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['cast'] = movie['cast'].apply(convert_cast)

In [27]:
# appling funtion to fetched
movie['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [28]:
ast.literal_eval(movie['crew'][0])[0]

{'credit_id': '52fe48009251416c750aca23',
 'department': 'Editing',
 'gender': 0,
 'id': 1721,
 'job': 'Editor',
 'name': 'Stephen E. Rivkin'}

In [29]:
# function for fecting director and music composer name from crew column 
def fetch_director(text):
    L = []
    text = ast.literal_eval(text)
    for i in text :
        if i['job'] == 'Director' :
            L.append(i['name'])
        if i['job'] == 'Original Music Composer' :
            L.append(i['name']) 
    return L

In [30]:
# appling funtion to fetched
movie['crew'] = movie['crew'].apply(fetch_director)

C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\1246037307.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['crew'] = movie['crew'].apply(fetch_director)

In [31]:
# Checking data after applying functions
movie

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[James Horner, James Cameron]"
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Gore Verbinski, Hans Zimmer]"
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[Thomas Newman, Sam Mendes]"
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[Hans Zimmer, Christopher Nolan]"
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[Edward Burns, Kerry Bishé, Marsha Dietlein]",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...","[Eric Mabius, Kristin Booth, Crystal Lowe]","[Hal Beckett, Scott Smith]"
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton]",[Daniel Hsia]
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[obsession, camcorder, crush, dream girl]","[Drew Barrymore, Brian Herzlinger, Corey Feldman]","[Brian Herzlinger, Jon Gunn, Brett Winn]"

In [32]:
# Now Converting overview (String Data) column into List
L = []
for i in movie['overview'] :
    L.append(i.split())

In [33]:
movie['overview'] = L

C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\3593529771.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['overview'] = L

In [34]:
movie

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[James Horner, James Cameron]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Gore Verbinski, Hans Zimmer]"
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[Thomas Newman, Sam Mendes]"
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[Hans Zimmer, Christopher Nolan]"
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[Edward Burns, Kerry Bishé, Marsha Dietlein]",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...","[Eric Mabius, Kristin Booth, Crystal Lowe]","[Hal Beckett, Scott Smith]"
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton]",[Daniel Hsia]
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dream girl]","[Drew Barrymore, Brian Herzlinger, Corey Feldman]","[Brian Herzlinger, Jon Gunn, Brett Winn]"

In [35]:
# removing space from the words 
movie['cast'].apply(lambda x: [i.replace(" " , "") for i in x])

0        [SamWorthington, ZoeSaldana, SigourneyWeaver]
1           [JohnnyDepp, OrlandoBloom, KeiraKnightley]
2            [DanielCraig, ChristophWaltz, LéaSeydoux]
3            [ChristianBale, MichaelCaine, GaryOldman]
4          [TaylorKitsch, LynnCollins, SamanthaMorton]
                             ...
4804    [CarlosGallardo, JaimedeHoyos, PeterMarquardt]
4805         [EdwardBurns, KerryBishé, MarshaDietlein]
4806           [EricMabius, KristinBooth, CrystalLowe]
4807            [DanielHenney, ElizaCoupe, BillPaxton]
4808    [DrewBarrymore, BrianHerzlinger, CoreyFeldman]
Name: cast, Length: 4806, dtype: object

In [36]:
# removing space for treating words properly (For treating single word)
def remove_space(data) :
    L = []
    for i in data :
        L.append(i.replace(" " , ""))
    return L

In [37]:
# appling function
movie['genres'] = movie['genres'].apply(remove_space)
movie['keywords'] = movie['keywords'].apply(remove_space)
movie['cast'] = movie['cast'].apply(remove_space)
movie['crew'] = movie['crew'].apply(remove_space)
movie

C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\2171687804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['genres'] = movie['genres'].apply(remove_space)
C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\2171687804.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['keywords'] = movie['keywords'].apply(remove_space)
C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\2171687804.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['cast'] = movie['cast'].apply(remove_space)
C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\2171687804.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['crew'] = movie['crew'].apply(remove_space)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[JamesHorner, JamesCameron]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[GoreVerbinski, HansZimmer]"
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[ThomasNewman, SamMendes]"
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]","[HansZimmer, ChristopherNolan]"
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez]
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns]
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]","[HalBeckett, ScottSmith]"
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia]
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]","[BrianHerzlinger, JonGunn, BrettWinn]"

In [38]:
# making final data to work and making a column named tags by adding genres , keywords , cast , crew and overview
# Then will find recommendation on the bases of tags
Final_Data = movie[['movie_id' , 'title']] 

Final_Data['tags'] = movie['genres'] + movie['keywords'] + movie['cast'] + movie['crew'] + movie['overview']

C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\254282093.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_Data['tags'] = movie['genres'] + movie['keywords'] + movie['cast'] + movie['crew'] + movie['overview']

In [39]:
# Final data to work on 
Final_Data

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."
...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller, unitedstates–mexicob..."
4805,72766,Newlyweds,"[Comedy, Romance, EdwardBurns, KerryBishé, Mar..."
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TVMovie, date, loveat..."
4807,126186,Shanghai Calling,"[DanielHenney, ElizaCoupe, BillPaxton, DanielH..."
4808,25975,My Date with Drew,"[Documentary, obsession, camcorder, crush, dre..."

In [40]:
Final_Data['tags'] = Final_Data['tags'].apply(lambda x : " ".join(x))
Final_Data['tags']

C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\2903931663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_Data['tags'] = Final_Data['tags'].apply(lambda x : " ".join(x))

0       Action Adventure Fantasy ScienceFiction cultur...
1       Adventure Fantasy Action ocean drugabuse exoti...
2       Action Adventure Crime spy basedonnovel secret...
3       Action Crime Drama Thriller dccomics crimefigh...
4       Action Adventure ScienceFiction basedonnovel m...
                              ...
4804    Action Crime Thriller unitedstates–mexicobarri...
4805    Comedy Romance EdwardBurns KerryBishé MarshaDi...
4806    Comedy Drama Romance TVMovie date loveatfirsts...
4807    DanielHenney ElizaCoupe BillPaxton DanielHsia ...
4808    Documentary obsession camcorder crush dreamgir...
Name: tags, Length: 4806, dtype: object

In [41]:
# importing nltk for appling Stammering on tags columns 
import nltk
from nltk.stem.porter import PorterStemmer

In [42]:
# function for Stammering
def stem(data) :
    L= []
    for i in data.split() :
        L.append(PorterStemmer().stem(i))
    return " ".join(L)

In [43]:
# appling function on tags to remove similar works
Final_Data['tags'] = Final_Data['tags'].apply(stem)
Final_Data['tags']

C:\Users\Mohammad Zaid\AppData\Local\Temp\ipykernel_15932\4244384092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_Data['tags'] = Final_Data['tags'].apply(stem)

0       action adventur fantasi sciencefict culturecla...
1       adventur fantasi action ocean drugabus exotici...
2       action adventur crime spi basedonnovel secreta...
3       action crime drama thriller dccomic crimefight...
4       action adventur sciencefict basedonnovel mar m...
                              ...
4804    action crime thriller unitedstates–mexicobarri...
4805    comedi romanc edwardburn kerrybishé marshadiet...
4806    comedi drama romanc tvmovi date loveatfirstsig...
4807    danielhenney elizacoup billpaxton danielhsia w...
4808    documentari obsess camcord crush dreamgirl dre...
Name: tags, Length: 4806, dtype: object

In [44]:
# importing CountVectorizer function to convert tags into text vectors
from sklearn.feature_extraction.text import CountVectorizer

In [45]:
# words count is 2000 and also removing stop words 
CV = CountVectorizer(max_features = 2000 , stop_words = 'english')

In [46]:
# finally coverted tags columns into vectors
vectors = CV.fit_transform(Final_Data['tags'])
vectors = vectors.toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [47]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [48]:
# list of 2000 words that are used to make vectors
CV.get_feature_names_out().tolist()

['000',
 '10',
 '11',
 '12',
 '14',
 '15',
 '17',
 '18',
 '1930',
 '1950',
 '1960',
 '1970',
 '1980',
 '19th',
 '19thcenturi',
 '20',
 '30',
 '3d',
 'aaroneckhart',
 'abandon',
 'abduct',
 'abil',
 'abl',
 'abus',
 'academi',
 'accept',
 'accid',
 'accident',
 'accompani',
 'account',
 'accus',
 'achiev',
 'act',
 'action',
 'actor',
 'actress',
 'actual',
 'adam',
 'adamsandl',
 'adapt',
 'addict',
 'adopt',
 'adult',
 'adulteri',
 'adventur',
 'adventure',
 'advic',
 'affair',
 'affect',
 'africa',
 'african',
 'aftercreditssting',
 'afterlif',
 'ag',
 'age',
 'agent',
 'ago',
 'agre',
 'ahead',
 'aid',
 'air',
 'airplan',
 'airport',
 'alansilvestri',
 'alaska',
 'alcohol',
 'alecbaldwin',
 'alex',
 'alexandredesplat',
 'alic',
 'alien',
 'alieninvas',
 'aliv',
 'alive',
 'alli',
 'allow',
 'alon',
 'alpacino',
 'alreadi',
 'alter',
 'altern',
 'alway',
 'amaz',
 'ambiti',
 'ambush',
 'america',
 'american',
 'americanfootbal',
 'amnesia',
 'amp',
 'ancient',
 'anderson',
 'andi',
 'android',
 'angel',
 'angeles',
 'angelinajoli',
 'ani',
 'anim',
 'ann',
 'anna',
 'annehathaway',
 'annual',
 'anoth',
 'answer',
 'anthonyhopkin',
 'anti',
 'antihero',
 'antoniobandera',
 'anyon',
 'anyth',
 'apart',
 'apocalypt',
 'appear',
 'approach',
 'archaeologist',
 'area',
 'arm',
 'armi',
 'arnoldschwarzenegg',
 'arrang',
 'arrest',
 'arriv',
 'art',
 'arthur',
 'artificialintellig',
 'artist',
 'ask',
 'aspir',
 'assassin',
 'assign',
 'assist',
 'assum',
 'astronaut',
 'athlet',
 'attack',
 'attempt',
 'attend',
 'attorney',
 'attract',
 'aunt',
 'australia',
 'australian',
 'author',
 'aveng',
 'avoid',
 'await',
 'awaken',
 'award',
 'away',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'bad',
 'balanc',
 'ballet',
 'band',
 'bank',
 'bar',
 'barri',
 'base',
 'basebal',
 'basedoncomicbook',
 'basedonnovel',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basketbal',
 'batman',
 'battl',
 'beach',
 'bear',
 'beast',
 'beat',
 'beauti',
 'becam',
 'becaus',
 'becom',
 'becominganadult',
 'bed',
 'befor',
 'befriend',
 'begin',
 'believ',
 'belov',
 'ben',
 'benaffleck',
 'benkingsley',
 'benstil',
 'bent',
 'berlin',
 'best',
 'bestfriend',
 'bet',
 'betray',
 'better',
 'big',
 'biggest',
 'biker',
 'billi',
 'biographi',
 'bird',
 'birth',
 'birthday',
 'bite',
 'bizarr',
 'black',
 'blackmail',
 'blackpeopl',
 'blind',
 'blood',
 'bloodi',
 'blow',
 'blue',
 'board',
 'boat',
 'bob',
 'bobbi',
 'bodi',
 'bodyguard',
 'bomb',
 'bond',
 'book',
 'border',
 'bore',
 'born',
 'boss',
 'boston',
 'bound',
 'bounti',
 'box',
 'boxer',
 'boy',
 'boyfriend',
 'bradpitt',
 'brain',
 'brave',
 'break',
 'brian',
 'briantyl',
 'bride',
 'bridg',
 'brilliant',
 'bring',
 'britain',
 'british',
 'broadway',
 'broken',
 'brooklyn',
 'brother',
 'brotherbrotherrelationship',
 'brothersisterrelationship',
 'brought',
 'brown',
 'brucewilli',
 'brutal',
 'buddi',
 'build',
 'bulli',
 'buri',
 'busi',
 'business',
 'businessman',
 'buy',
 'cabin',
 'california',
 'calvin',
 'came',
 'camera',
 'camerondiaz',
 'camp',
 'campaign',
 'canada',
 'canadian',
 'cancer',
 'capabl',
 'capit',
 'captain',
 'captiv',
 'captur',
 'car',
 'carchas',
 'carcrash',
 'care',
 'career',
 'carl',
 'carri',
 'carter',
 'carterburwel',
 'case',
 'cash',
 'casino',
 'cast',
 'castl',
 'cat',
 'catch',
 'cateblanchett',
 'cathol',
 'caught',
 'caus',
 'cave',
 'celebr',
 'center',
 'centuri',
 'century',
 'certain',
 'chain',
 'challeng',
 'champion',
 'championship',
 'chanc',
 'chang',
 'chao',
 'charact',
 'charg',
 'charl',
 'charli',
 'charlie',
 'charlizetheron',
 'charm',
 'chase',
 'cheat',
 'chicago',
 'chief',
 'child',
 'childhood',
 'children',
 'china',
 'chines',
 'choic',
 'choos',
 'chosen',
 'chri',
 'christian',
 'christianbal',
 'christma',
 'christophebeck',
 'christopherplumm',
 'christopheryoung',
 'chronicl',
 'church',
 'cia',
 'circu',
 'citi',
 'city',
 'civil',
 'claim',
 'clash',
 'class',
 'classic',
 'clean',
 'clear',
 'clerk',
 'climb',
 'clinteastwood',
 'clock',
 'clone',
 'close',
 'closer',
 'club',
 'clue',
 'coach',
 'coast',
 'cocain',
 'code',
 'cold',
 'coldwar',
 'colinfarrel',
 'colleagu',
 'collect',
 'colleg',
 'college',
 'collid',
 'coloni',
 'color',
 'coma',
 'combat',
 'combin',
 'come',
 'comedi',
 'comedian',
 'comedy',
 'comic',
 'comingofag',
 'command',
 'commit',
 'common',
 'commun',
 'compani',
 'company',
 'compet',
 'competit',
 'complet',
 'complex',
 'complic',
 'comput',
 'concert',
 'confid',
 'conflict',
 'confront',
 'connect',
 'connor',
 'consequences',
 'consid',
 'conspiraci',
 'contact',
 'contain',
 'contest',
 'continu',
 'contract',
 'control',
 'controversi',
 'convict',
 'convinc',
 'cook',
 'cooper',
 'cop',
 'cope',
 'corpor',
 'corps',
 'corrupt',
 'cost',
 'count',
 'countri',
 'country',
 'coupl',
 'couple',
 'courag',
 'cours',
 'court',
 'cousin',
 'cover',
 'cowardli',
 'crack',
 'crash',
 'crazi',
 'creat',
 'creatur',
 'crew',
 'crime',
 'crimin',
 'crisi',
 'critic',
 'crook',
 'cross',
 'crush',
 'cuba',
 'cult',
 'cultur',
 'cure',
 'current',
 'curs',
 'cut',
 'dad',
 'daili',
 'dan',
 'danc',
 'dancer',
 'danger',
 'daniel',
 'danni',
 'dannydevito',
 'dannyelfman',
 'dare',
 'dark',
 'darkcomedi',
 'date',
 'daughter',
 'david',
 'davidnewman',
 'day',
 'dccomic',
 'dead',
 'deadli',
 'deal',
 'dealer',
 'death',
 'debt',
 'decad',
 'decept',
 'decid',
 'decis',
 'deep',
 'defeat',
 'defend',
 'defens',
 'deliv',
 'demand',
 'demon',
 'dennisquaid',
 'denzelwashington',
 'depict',
 'depress',
 'descend',
 'desert',
 'design',
 'desir',
 'desper',
 'despit',
 'destroy',
 'destruct',
 'detect',
 'determin',
 'detroit',
 'devast',
 'develop',
 'devil',
 'diamond',
 'dianekeaton',
 'did',
 'die',
 'dies',
 'differ',
 'difficult',
 'diner',
 'dinosaur',
 'direct',
 'director',
 'disappear',
 'disast',
 'discov',
 'discoveri',
 'disfigur',
 'distant',
 'district',
 'disturb',
 'divorc',
 'dna',
 'doctor',
 'document',
 'documentari',
 'doe',
 'doesn',
 'dog',
 'dolphin',
 'domin',
 'don',
 'door',
 'doubt',
 'dr',
 'drag',
 'dragon',
 'drama',
 'dramat',
 'draw',
 'drawn',
 'dream',
 'dreams',
 'drewbarrymor',
 'drink',
 'drive',
 'driven',
 'driver',
 'drop',
 'drug',
 'drugaddict',
 'drugdeal',
 'drugs',
 'dump',
 'duo',
 'dure',
 'duringcreditssting',
 'dustinhoffman',
 'duti',
 'dwaynejohnson',
 'dyinganddeath',
 'dysfunctionalfamili',
 'dystopia',
 'earli',
 'earn',
 'earth',
 'easi',
 'east',
 'eat',
 'eccentr',
 'econom',
 'eddi',
 'eddiemurphi',
 'edharri',
 'edshearmur',
 'edward',
 'effort',
 'egg',
 'egypt',
 'elderli',
 'elit',
 'elizabeth',
 'embark',
 'emerg',
 'emma',
 'emot',
 'emperor',
 'employ',
 'employe',
 'encount',
 'end',
 'enemi',
 'enforc',
 'engag',
 'engin',
 'england',
 'english',
 'enlist',
 'enter',
 'entertain',
 'entir',
 'epic',
 'era',
 'escap',
 'especi',
 'establish',
 'estat',
 'estrang',
 'ethanhawk',
 'europ',
 'eve',
 'event',
 'events',
 'eventu',
 'everi',
 'everyon',
 'everyth',
 'evid',
 'evil',
 'ewanmcgregor',
 'ex',
 'exact',
 'exactli',
 'examin',
 'excit',
 'execut',
 'exist',
 'expect',
 'expedit',
 'experi',
 'expert',
 'explor',
 'explos',
 'expos',
 'extramaritalaffair',
 'extraordinari',
 'extrem',
 'extremeviol',
 'eye',
 'face',
 'fact',
 'fail',
 'fairi',
 'fairytal',
 'faith',
 'fall',
 'fallen',
 'fallinginlov',
 'fame',
 'famili',
 'family',
 'familyrelationship',
 'famou',
 'fan',
 'fantasi',
 'far',
 'farm',
 'farmer',
 'fashion',
 'fast',
 'fat',
 'fate',
 'father',
 'fatherdaughterrelationship',
 'fathersonrelationship',
 'fbi',
 'fbiagent',
 'fear',
 'featur',
 'feel',
 'feet',
 'fellow',
 'femal',
 'femalenud',
 'fiancé',
 'fiction',
 'field',
 'fierc',
 'fight',
 'fighter',
 'figur',
 'film',
 'filmmak',
 'final',
 'financi',
 'finish',
 'firm',
 'fish',
 'fistfight',
 'fit',
 'flashback',
 'flee',
 'fli',
 'flight',
 'florida',
 'focus',
 'follow',
 'food',
 'foot',
 'footbal',
 'forc',
 'force',
 'foreign',
 'forest',
 'forestwhitak',
 'forev',
 'forever',
 'form',
 'fortun',
 'foster',
 'foundfootag',
 'fox',
 'frame',
 'franc',
 'france',
 'francisco',
 'frank',
 'fraud',
 'freddi',
 'free',
 'freedom',
 'french',
 'friend',
 'friends',
 'friendship',
 'fu',
 'fugit',
 'fulfil',
 'fun',
 'fund',
 'funer',
 'futur',
 'future',
 'futurist',
 'gain',
 'gambl',
 'game',
 'gang',
 'gangster',
 'garyoldman',
 'gather',
 'gay',
 'genehackman',
 'gener',
 'genet',
 'geniu',
 'georg',
 'georgeclooney',
 'georgefenton',
 'gerardbutl',
 'german',
 'germani',
 'ghost',
 'giant',
 'gift',
 'girl',
 'girlfriend',
 'given',
 'global',
 'globe',
 'goal',
 'god',
 'goe',
 'gold',
 'golden',
 'gone',
 'good',
 'goodvsevil',
 'gore',
 'got',
 'govern',
 'grace',
 'graduat',
 'graemerevel',
 'grant',
 'grave',
 'great',
 'greatest',
 'greek',
 'green',
 'ground',
 'group',
 'grow',
 'grown',
 'gruesom',
 'guard',
 'guest',
 'guid',
 'guilt',
 'gun',
 'gunfight',
 'guy',
 'ha',
 'hacker',
 'half',
 'halloween',
 'hallucin',
 'hand',
 'handsom',
 'hang',
 'hanszimm',
 'happen',
 'happi',
 'harbor',
 'hard',
 'harri',
 'harrisonford',
 'harrygregson',
 'hatch',
 'haunt',
 'hawaii',
 'head',
 'health',
 'hear',
 'heart',
 'heaven',
 'heist',
 'held',
 'helen',
 'helicopt',
 'hell',
 'help',
 'henri',
 'hero',
 'heroic',
 'heroin',
 'hi',
 'hidden',
 'hide',
 'high',
 'highli',
 'highschool',
 'hijack',
 'hilari',
 'hill',
 'hip',
 'hire',
 'histor',
 'histori',
 'historicalfigur',
 'history',
 'hit',
 'hitman',
 'hold',
 'holiday',
 'hollywood',
 'home',
 'hometown',
 'homicid',
 'homosexu',
 'hong',
 'honor',
 'hood',
 'hoodlum',
 'hook',
 'hop',
 'hope',
 'horrif',
 'horrifi',
 'horror',
 'hors',
 'hospit',
 'host',
 'hostag',
 'hostil',
 'hot',
 'hotel',
 'hour',
 'hous',
 'house',
 'howardshor',
 'howev',
 'huge',
 'hughjackman',
 'human',
 'humanity',
 'humor',
 'hunt',
 'hunter',
 'husband',
 'ice',
 'icecub',
 'idea',
 'ident',
 'identity',
 'idol',
 'idyl',
 'ii',
 'ill',
 'illeg',
 'imagin',
 'imax',
 'immedi',
 'immigr',
 'immort',
 'import',
 'imposs',
 'imprison',
 'inadvert',
 'incid',
 'includ',
 'increasingli',
 'incred',
 'independ',
 'independentfilm',
 'india',
 'indian',
 'individu',
 'industri',
 'infidel',
 'infiltr',
 'influenc',
 'inform',
 'inherit',
 'initi',
 'inner',
 'innoc',
 'insan',
 'insid',
 'inspir',
 'instal',
 'instead',
 'intellig',
 'intend',
 'intent',
 'intern',
 'internet',
 'interview',
 'intrigu',
 'introduc',
 'invad',
 'invas',
 'invent',
 'inventor',
 'investig',
 'invis',
 'invit',
 'involv',
 'iraq',
 'irish',
 'island',
 'isn',
 'isol',
 'itali',
 'italian',
 'jack',
 'jackiechan',
 'jackson',
 'jail',
 'jake',
 'jakegyllenha',
 'jame',
 'jameshorn',
 'jamesnewtonhoward',
 'jane',
 'japan',
 'japanes',
 'jason',
 'jasonstatham',
 'jay',
 'jealousi',
 'jean',
 'jeffbridg',
 'jenniferaniston',
 'jenniferlopez',
 'jerrygoldsmith',
 'jersey',
 'jess',
 'jew',
 'jewish',
 'jim',
 'jimcarrey',
 'jimmi',
 'job',
 'joe',
 'john',
 'johnbarri',
 'johncarpent',
 'johncusack',
 'johndebney',
 'johngoodman',
 'johnni',
 'johnnydepp',
 'johnottman',
 'johnpowel',
 'johnson',
 'johntravolta',
 'johnwilliam',
 'join',
 'jon',
 'jonathan',
 'jordan',
 'joseph',
 ...]

In [49]:
# importing cosine similarity function to calculate the distace of vector
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
# finding similarity
# 1 means movie is exectly same and 0 means movies are opposite
similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.10206207, 0.10206207, ..., 0.05521576, 0.        ,
        0.        ],
       [0.10206207, 1.        , 0.07407407, ..., 0.03005565, 0.        ,
        0.03300492],
       [0.10206207, 0.07407407, 1.        , ..., 0.03005565, 0.        ,
        0.        ],
       ...,
       [0.05521576, 0.03005565, 0.03005565, ..., 1.        , 0.05134962,
        0.05356716],
       [0.        , 0.        , 0.        , ..., 0.05134962, 1.        ,
        0.11277677],
       [0.        , 0.03300492, 0.        , ..., 0.05356716, 0.11277677,
        1.        ]])

In [51]:
Final_Data[Final_Data['title'] == 'Avatar'].index[0] # Fining Index

0

In [52]:
# sorting similarity for fetching top 5 similar movies
# using enumerate for keeping index posotions so that we can fetched the movies name with index
sorted(list(enumerate(similarity[0])) , reverse = True , key = lambda X: X[1])[1:6]

[(1216, 0.34232659844072866),
 (3730, 0.33071891388307384),
 (2409, 0.319681006545503),
 (507, 0.309426373877638),
 (61, 0.29166666666666663)]

In [53]:
# Making function and printing name of top 5 similar movies
def recommend(movie) :
    movie_index = Final_Data[Final_Data['title'] == movie].index[0]
    movies_list = sorted(list(enumerate(similarity[movie_index])) , reverse = True , key = lambda X: X[1])[1:6]
    
    for i in movies_list :
        print(Final_Data.iloc[i[0]].title)

In [54]:
recommend('The Avengers')

Iron Man 3
Avengers: Age of Ultron
Iron Man
Captain America: The First Avenger
Captain America: Civil War

In [55]:
recommend('Aliens vs Predator: Requiem')

Slither
Independence Daysaster
Aliens in the Attic
The Thing
Edge of Tomorrow

In [56]:
recommend('Edge of Tomorrow')

Aliens vs Predator: Requiem
The 5th Wave
Independence Day
The Darkest Hour
Independence Daysaster